
.root1 {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* height: 100%; */
}

.root1 .abeg{
  width: 30% !important;
}

.root1 .chatbody-wrapper{
  width: 70% !important;
}


